body {
	color: #edf;
	background: #101320;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	padding-top: 60px;
}

h1, h2, h3 {
	padding: 10px 0;
}

h1 {
	font-size: 3em;
	text-align: center;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1.3em;
	padding: 10px 0 0 0;
}

button, .button {
	background: none;
	color: white;
	border: solid 1px white;
	padding: 5px;
}

form {
	padding-top: 0;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
}

.box {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.categoryButton {
	margin-right: 10px;
	margin-bottom: 10px;
}
